html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code,
em, img, q, s,
small, strike, strong, sub, sup, tt,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
figcaption, figure {
	display: block;
}
body {
	line-height: 1;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
  height: 100%;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/** Sections **/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/** Colum setup **/
.col {
	display: block;
	float: left;
	margin-left: 1.6%;
}
.col:first-child {
  margin-left: 0;
}

/** Grouping **/
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}

/** Container for content **/

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

/** Grid for forms **/

.form-line {
  display: block;
  position: relative;
}
.form-line:after {
  content: "";
  display: table;
  clear: both;
}

.form-line .form-field {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1em;
}
.form-line .form-field:first-child {
  padding-left: 0;
}

.s1 { width:  8.3333%; }
.s2 { width: 16.6667%; }
.s3 { width: 25%; }
.s4 { width: 33.3333%; }
.s5 { width: 41.6667%; }
.s6 { width: 50%; }
.s7 { width: 58.3333%; }
.s8 { width: 66.6667%; }
.s9 { width: 75%; }
.s10 { width: 83.3333%; }
.s11 { width: 91.6667%; }
.s12 { width: 100% }


/* Columns */
	
.span_2_of_2 {
	width: 100%; 
}

.span_1_of_2 {
	width: 49.2%; 
}

/* Go full width at less than 800 pixels */

@media only screen and (max-width: 800px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
  .col {
    margin-left: 0;
    margin-right: 0;
  }
}

/** Misc **/
.top-spacing {
  margin-top: 12px;
}

.full-height {
  height: 100%;
}