<div>
  <p class="logo">
    <img src="assets/swiss-qr-bill.svg" alt="{{ 'app_name' | translate}}">
  </p>
  <h1 translate>app_name</h1>
  <p class="about" translate>copyright</p>
  <p class="about">
    <span translate>licensed_under</span> <a href="https://opensource.org/licenses/MIT"><span translate>mit_license</span></a>
  </p>
  <p class="about">
    <span translate>source_code_on</span> <a href="https://github.com/manuelbl/SwissQRBill"><span translate>github</span></a>
  </p>
  <p class="about">
    <span translate>api_desc</span> <a href="qrbill.yaml"><span translate>swagger_file</span></a>
  </p>
</div>
