<div>
  <p class="logo">
    <img src="assets/swiss-qr-bill.svg" alt="Swiss QR Bill" i18n-alt>
  </p>
  <h1 i18n>Swiss QR Bill</h1>
  <p class="about" i18n>
    Copyright © 2018 Manuel Bleichenbacher
  </p>
  <p class="about">
    <span i18n>Licensend under</span> <a href="https://opensource.org/licenses/MIT" i18n>MIT License</a>
  </p>
  <p class="about">
    <span i18n>Source code on</span> <a href="https://github.com/manuelbl/SwissQRBill" i18n>GitHub</a>
  </p>
  <p class="about">
    <span i18n>API description as</span> <a href="qrbill.yaml" i18n>Swagger file</a>
  </p>
</div>
