<form [formGroup]="billForm" novalidate (ngSubmit)="preview(billForm)">

  <div class="section group">

    <div class="col span_1_of_2">

      <h2 class="top-spacing" translate>account</h2>

      <div class="form-group mat-elevation-z3">
        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'account' | translate }}" formControlName="account" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['account'])">{{billForm.getError('serverSide', 'account')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <h2 class="top-spacing" translate>creditor</h2>

      <div class="form-group mat-elevation-z3" formGroupName="creditor">

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'name' | translate }}" formControlName="name" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'name'])">{{billForm.getError('serverSide', 'creditor.name')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s9">
            <input matInput placeholder="{{ 'street' | translate }}" formControlName="street">
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'street'])">{{billForm.getError('serverSide', 'creditor.street')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'house_number' | translate }}" formControlName="houseNo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'houseNo'])">{{billForm.getError('serverSide', 'creditor.houseNo')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s2">
            <input matInput placeholder="{{ 'country' | translate }}" formControlName="countryCode" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'countryCode'])">{{billForm.getError('serverSide', 'creditor.countryCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'postal_code' | translate }}" formControlName="postalCode" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'postalCode'])">{{billForm.getError('serverSide', 'creditor.postalCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s7">
            <input matInput placeholder="{{ 'town' | translate }}" formControlName="town" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'town'])">{{billForm.getError('serverSide', 'creditor.town')}}</mat-error>
          </mat-form-field>
        </div>

      </div>

      <h2 class="top-spacing" translate="">final_creditor</h2>

      <div class="form-group mat-elevation-z3" formGroupName="finalCreditor">

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'name' | translate }}" formControlName="name">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'name'])">{{billForm.getError('serverSide', 'finalCreditor.name')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s9">
            <input matInput placeholder="{{ 'street' | translate }}" formControlName="street">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'street'])">{{billForm.getError('serverSide', 'finalCreditor.street')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'house_number' | translate }}" formControlName="houseNo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'houseNo'])">{{billForm.getError('serverSide', 'finalCreditor.houseNo')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s2">
            <input matInput placeholder="{{ 'country' | translate }}" formControlName="countryCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'countryCode'])">{{billForm.getError('serverSide', 'finalCreditor.countryCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'postal_code' | translate }}" formControlName="postalCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'postalCode'])">{{billForm.getError('serverSide', 'finalCreditor.postalCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s7">
            <input matInput placeholder="{{ 'town' | translate }}" formControlName="town">
            <mat-error *ngIf="billForm.hasError('serverSide', ['finalCreditor', 'town'])">{{billForm.getError('serverSide', 'finalCreditor.town')}}</mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="col span_1_of_2">

      <h2 class="top-spacing" translate>payment_details</h2>

      <div class="form-group mat-elevation-z3">

        <div class="form-line">
          <mat-form-field class="form-field s2">
            <mat-select placeholder="{{ 'currency' | translate}}" formControlName="currency" required>
              <mat-option value="CHF">CHF</mat-option>
              <mat-option value="EUR">EUR</mat-option>
            </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['currency'])">{{billForm.getError('serverSide', 'currency')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s4">
            <input type="number" matInput placeholder="{{ 'amount' | translate}}" formControlName="amount" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['amount'])">{{billForm.getError('serverSide', 'amount')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s4">
            <input matInput [matDatepicker]="datePicker" placeholder="{{ 'due_date' | translate}}" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error *ngIf="billForm.hasError('serverSide', ['dueDate'])">{{billForm.getError('serverSide', 'dueDate')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'reference_no' | translate }}" formControlName="referenceNo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['referenceNo'])">{{billForm.getError('serverSide', 'referenceNo')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'additional_info' | translate }}" formControlName="additionalInfo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['additionalInfo'])">{{billForm.getError('serverSide', 'additionalInfo')}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-line">
          <mat-form-field class="form-field s4">
              <mat-select placeholder="{{ 'slip_lang' | translate}}" formControlName="language" required>
                  <mat-option value="de"><span translate>lang.de</span></mat-option>
                  <mat-option value="fr"><span translate>lang.fr</span></mat-option>
                  <mat-option value="it"><span translate>lang.it</span></mat-option>
                  <mat-option value="en"><span translate>lang.en</span></mat-option>
                </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['language'])">{{billForm.getError('serverSide', 'language')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s5">
              <mat-select placeholder="{{ 'output_size' | translate}}" formControlName="outputSize" required>
                <mat-option value="a6Landscape"><span translate>output_sizes.a6_landscape</span></mat-option>
                <mat-option value="a5Landscape"><span translate>output_sizes.a5_landscape</span></mat-option>
                <mat-option value="a4Portrait"><span translate>output_sizes.a4_portrait</span></mat-option>
                <mat-option value="qrCodeOnly"><span translate>output_sizes.qr_code_only</span></mat-option>
              </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['outputSize'])">{{billForm.getError('serverSide', 'outputSize')}}</mat-error>
          </mat-form-field>  
        </div>
    
      </div>

      <h2 class="top-spacing" translate>debtor</h2>

      <div class="form-group mat-elevation-z3" formGroupName="debtor">

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'name' | translate }}" formControlName="name">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'name'])">{{billForm.getError('serverSide', 'debtor.name')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s9">
            <input matInput placeholder="{{ 'street' | translate }}" formControlName="street">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'street'])">{{billForm.getError('serverSide', 'debtor.street')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'house_number' | translate }}" formControlName="houseNo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'houseNo'])">{{billForm.getError('serverSide', 'debtor.houseNo')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s2">
            <input matInput placeholder="{{ 'country' | translate }}" formControlName="countryCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'countryCode'])">{{billForm.getError('serverSide', 'debtor.countryCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'postal_code' | translate }}" formControlName="postalCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'postalCode'])">{{billForm.getError('serverSide', 'debtor.postalCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s7">
            <input matInput placeholder="{{ 'town' | translate }}" formControlName="town">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'town'])">{{billForm.getError('serverSide', 'debtor.town')}}</mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>

  </div>

  <div class="section group sticky-footer">

    <div class="col span_2_of_2 top-spacing">

      <div class="form-group mat-elevation-z3">
        <button mat-raised-button color="primary" type="submit"><span translate>preview_n_download</span></button>
      </div>

    </div>

  </div>

</form>