.form-group {
    background: white;
    padding: 12px 24px;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    padding: 12px 24px;
    color: #444;
}

.top-spacing {
    margin-top: 24px;
}

.sticky-footer {
    -webkit-position: sticky;
    position: sticky;
    bottom: 0px;
}