<form [formGroup]="billForm" novalidate (ngSubmit)="preview()">

  <div class="section group">

    <div class="col span_1_of_2">

      <h2 class="top-spacing" translate>account_payable_to</h2>

      <div class="form-group mat-elevation-z3">

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input qrbillInputWithFormat [inputFormatter]="ibanFormatter" placeholder="{{ 'account' | translate }}" formControlName="account" required>
            <mat-error *ngIf="billForm.hasError('serverSide', ['account'])">{{billForm.getError('serverSide', 'account')}}</mat-error>
          </mat-form-field>
        </div>

        <div formGroupName="creditor">

          <div class="form-line">
            <mat-form-field class="form-field s12">
              <input matInput placeholder="{{ 'name' | translate }}" formControlName="name" required>
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'name'])">{{billForm.getError('serverSide', 'creditor.name')}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field class="form-field s9">
              <input matInput placeholder="{{ 'street' | translate }}" formControlName="street">
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'street'])">{{billForm.getError('serverSide', 'creditor.street')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field s3">
              <input matInput placeholder="{{ 'house_number' | translate }}" formControlName="houseNo">
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'houseNo'])">{{billForm.getError('serverSide', 'creditor.houseNo')}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-line">
            <mat-form-field class="form-field s2">
              <input matInput placeholder="{{ 'country' | translate }}" formControlName="countryCode" required>
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'countryCode'])">{{billForm.getError('serverSide', 'creditor.countryCode')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field s3">
              <input matInput placeholder="{{ 'postal_code' | translate }}" formControlName="postalCode" required>
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'postalCode'])">{{billForm.getError('serverSide', 'creditor.postalCode')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field s7">
              <input matInput placeholder="{{ 'town' | translate }}" formControlName="town" required>
              <mat-error *ngIf="billForm.hasError('serverSide', ['creditor', 'town'])">{{billForm.getError('serverSide', 'creditor.town')}}</mat-error>
            </mat-form-field>
          </div>

        </div>

      </div>

      <h2 class="top-spacing" translate>bill_format</h2>

      <div class="form-group mat-elevation-z3" formGroupName="format">

        <div class="form-line">
          <mat-form-field class="form-field s4">
              <mat-select placeholder="{{ 'slip_lang' | translate}}" formControlName="language" required>
                  <mat-option value="de"><span translate>lang.de</span></mat-option>
                  <mat-option value="fr"><span translate>lang.fr</span></mat-option>
                  <mat-option value="it"><span translate>lang.it</span></mat-option>
                  <mat-option value="en"><span translate>lang.en</span></mat-option>
                </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['format', 'language'])">{{billForm.getError('serverSide', 'format.language')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s5">
              <mat-select placeholder="{{ 'output_size' | translate}}" formControlName="outputSize" required>
                <mat-option value="qr-bill-only"><span translate>output_sizes.qr_bill_only</span></mat-option>
                <mat-option value="a4-portrait-sheet"><span translate>output_sizes.a4_portrait</span></mat-option>
                <mat-option value="qr-code-only"><span translate>output_sizes.qr_code_only</span></mat-option>
              </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['format', 'outputSize'])">{{billForm.getError('serverSide', 'format.outputSize')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s7">
              <mat-select placeholder="{{ 'separator_lines' | translate}}" formControlName="separatorType" required>
                <mat-option value="solid-line-with-scissors"><span translate>separator_type.solid_line_with_scissors</span></mat-option>
                <mat-option value="solid-line"><span translate>separator_type.solid_line</span></mat-option>
                <mat-option value="none"><span translate>separator_type.none</span></mat-option>
              </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['format', 'separatorType'])">{{billForm.getError('serverSide', 'format.separatorType')}}</mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="col span_1_of_2">

      <h2 class="top-spacing" translate>payment_details</h2>

      <div class="form-group mat-elevation-z3">

        <div class="form-line">
          <mat-form-field class="form-field s2">
            <mat-select placeholder="{{ 'currency' | translate}}" formControlName="currency" required>
              <mat-option value="CHF">CHF</mat-option>
              <mat-option value="EUR">EUR</mat-option>
            </mat-select>
            <mat-error *ngIf="billForm.hasError('serverSide', ['currency'])">{{billForm.getError('serverSide', 'currency')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s4">
            <input qrbillInputWithFormat [inputFormatter]="amountFormatter" placeholder="{{ 'amount' | translate}}" formControlName="amount">
            <mat-error *ngIf="billForm.hasError('serverSide', ['amount'])">{{billForm.getError('serverSide', 'amount')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input qrbillInputWithFormat [inputFormatter]="refNumberFormatter" [matAutocomplete]="refNoAuto" [qrBillAutoComplete]="refNoAuto" (input)="refNoChanges.next($event.target.value)" placeholder="{{ 'reference' | translate }}" formControlName="reference">
            <mat-error *ngIf="billForm.hasError('serverSide', ['reference'])">{{billForm.getError('serverSide', 'reference')}}</mat-error>
          </mat-form-field>
          <mat-autocomplete #refNoAuto="matAutocomplete">
            <mat-option *ngFor="let option of refNoSuggestions | async" [value]="option"><span *ngIf="option.startsWith('RF')" class="gen">{{ option.substr(0, 4) }}</span>{{ option.startsWith('RF') ? option.substring(4) : option.substr(0, option.length - 1)}}<span *ngIf="!option.startsWith('RF')" class="gen">{{ option.substr(-1) }}</span></mat-option>
          </mat-autocomplete>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'unstructured_msg' | translate }}" formControlName="unstructuredMessage">
            <mat-error *ngIf="billForm.hasError('serverSide', ['unstructuredMessage'])">{{billForm.getError('serverSide', 'unstructuredMessage')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'bill_information' | translate }}" formControlName="billInformation">
            <mat-error *ngIf="billForm.hasError('serverSide', ['billInformation'])">{{billForm.getError('serverSide', 'billInformation')}}</mat-error>
          </mat-form-field>
        </div>

      </div>
      
      <h2 class="top-spacing" translate>payable_by</h2>

      <div class="form-group mat-elevation-z3" formGroupName="debtor">

        <div class="form-line">
          <mat-form-field class="form-field s12">
            <input matInput placeholder="{{ 'name' | translate }}" formControlName="name">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'name'])">{{billForm.getError('serverSide', 'debtor.name')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-line">
          <mat-form-field class="form-field s9">
            <input matInput placeholder="{{ 'street' | translate }}" formControlName="street">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'street'])">{{billForm.getError('serverSide', 'debtor.street')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'house_number' | translate }}" formControlName="houseNo">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'houseNo'])">{{billForm.getError('serverSide', 'debtor.houseNo')}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-line">
          <mat-form-field class="form-field s2">
            <input matInput placeholder="{{ 'country' | translate }}" formControlName="countryCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'countryCode'])">{{billForm.getError('serverSide', 'debtor.countryCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s3">
            <input matInput placeholder="{{ 'postal_code' | translate }}" formControlName="postalCode">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'postalCode'])">{{billForm.getError('serverSide', 'debtor.postalCode')}}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field s7">
            <input matInput placeholder="{{ 'town' | translate }}" formControlName="town">
            <mat-error *ngIf="billForm.hasError('serverSide', ['debtor', 'town'])">{{billForm.getError('serverSide', 'debtor.town')}}</mat-error>
          </mat-form-field>
        </div>

      </div>

    </div>

  </div>

  <div class="section group sticky-footer">

    <div class="col span_2_of_2 top-spacing">

      <div class="form-group mat-elevation-z3">
        <button mat-raised-button color="primary" type="submit"><span translate>preview_n_download</span></button>
      </div>

    </div>

  </div>

</form>
