.examples {
    margin-top: 30px;
    margin-bottom: 20px;
}

.examples mat-card {
    margin: 0 16px 16px 0;
    float: left;
    padding: 0 0 24px 0;
}

.examples mat-card-content {
    margin-bottom: 0px;
}

.examples mat-card-actions {
    margin-left: 8px;
    margin-right: 0;
}

.action {
    padding: 0 8px;
}

img {
    border-bottom: 1px #999 solid;
    min-width: 561px;
    min-height: 396px;
}