.preview-section {
    width: 100%;
    min-height: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-preview {
    max-width: 100%;
    display: block;
    background: white;
    box-sizing: border-box;
    border: 1px rgba(0,0,0,.4) solid;
    margin-bottom: 6px;
}
