.output-size {
    padding: 12px 0;
}

.preview-section {
    width: 660px;
    height: 440px;
    overflow: scroll;
    box-sizing: border-box;
    border: 1pt #999 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.bill-preview {
    max-width: 100%;
    display: block;
    background: white;
}

@media only screen and (max-width: 720px) {
    .preview-section {
        width: 400px;
    }
}

@media only screen and (max-height: 750px) {
    .preview-section {
        height: 400px;
    }
}

@media only screen and (max-height: 710px) {
    .preview-section {
        height: 360px;
    }
}

@media only screen and (max-height: 670px) {
    .preview-section {
        height: 320px;
    }
}
